body {
	background: url("../img/bg_body.png") repeat-x left 0px rgb(249, 249, 249); margin: 0px; padding: 0px; font-size: 14px;
}
.body1 {
	
}
ul {
	list-style: none; margin: 0px; padding: 0px;
}
li {
	list-style: none; margin: 0px; padding: 0px;
}
dl {
	margin: 0px; padding: 0px;
}
dt {
	margin: 0px; padding: 0px;
}
dd {
	margin: 0px; padding: 0px;
}
.bf {
	height: 5px; background-color: rgb(255, 255, 255);
}
a {
	color: rgb(1, 1, 1); text-decoration: none;
}
a:hover {
	color: rgb(63, 148, 231); text-decoration: underline;
}
.blank10 {
	height: 10px; overflow: hidden; font-size: 1px;
}
.blk10 {
	height: 10px; overflow: hidden; clear: both; font-size: 1px;
}
.blk {
	height: 20px; overflow: hidden; clear: both; font-size: 1px;
}
.blk2 {
	height: 2px; overflow: hidden; clear: both; font-size: 1px;
}
.blk4 {
	height: 4px; overflow: hidden; clear: both; font-size: 1px;
}
.blk5 {
	height: 5px; overflow: hidden; clear: both; font-size: 1px;
}
.blk15 {
	height: 15px; overflow: hidden; clear: both; font-size: 1px;
}
.clear {
	height: 0px; overflow: hidden; clear: both; font-size: 0px;
}
.top {
	background: url("../img/bg_top.png") no-repeat left top; margin: 0px auto; width: 1000px; height: 150px; overflow: hidden; position: relative; z-index: 99;
}
.panel
{
	background: #0c6fb3;	
}
.panel-body
{
text-align: center;	

}
.logo {
	height: 150px; overflow: hidden; position: absolute; z-index: 99;
}
.link {
	top: 8px; right: 2%; color: white; font-size: 14px; position: absolute;
}
.logo .link a {
	margin: 0px 16px;
}
.logo .link a:hover {
	
}
.logo .
 {
	top: 60px; right: 0px; position: absolute;
}
.logo .search input.keyword {
	border: 1px solid rgb(204, 204, 204); border-image: none; width: 200px; height: 25px; line-height: 23px;
}
.logo .search input[type='submit'] {
	background: rgb(0, 0, 0); border: 0px currentColor; border-image: none; width: 45px; height: 25px; color: rgb(255, 255, 255); cursor: pointer;
}
.tlistdiv {
	height: 80px; position: relative;
}
.tlistimg {
	left: 0px; top: 0px; width: 1000px; height: 80px; z-index: 98;
}
.KSS_titleBox .title {
	width: 260px; overflow: hidden; white-space: nowrap; -ms-text-overflow: ellipsis;
}
.container{
	background:#3f94e7;width: 100%; height: 44px;
}
.menu {background:#3f94e7;
	margin: 0px auto; width: 1000px; height: 40px; text-align: left; padding-left: 0px; clear: both; position: relative; z-index: 9999; background-color2: #f11;
}
.menu ul {
	margin: 0px; padding: 0px; width: 1000px; height: 40px; list-style-type: none;
}
.menu ul li {
	background:#3f94e7;
	color: rgb(255, 255, 255); float: left; display: inline; position: relative; z-index: 199;
}
.menu ul li.sp {
	width: 5px; height: 40px; text-align: center; line-height: 40px;
}
.menu ul li a {
	padding: 3px 30px 3px 30px; height: 34px; text-align: center; color: rgb(255, 255, 255); line-height: 34px; font-size: 14px; text-decoration: none; margin-right: 0px; border-right-color: rgb(238, 238, 238); border-right-width: 0px; border-right-style: solid; display: block; position: relative; z-index: 190;
}
.menu ul li a.m-djtu {
	width: 104px;
}
.menu ul li a:hover {
	background: rgb(49, 134, 218); color: rgb(255, 255, 255); border-right-color: rgb(238, 238, 238); border-right-width: 0px; border-right-style: solid; text-decoration1: underline; padding-bottom2: 0; border-bottom2: 3px solid #d40809;
}
.menu ul li a.on {
	background: rgb(49, 134, 218); color: rgb(255, 255, 255); padding-bottom2: 0; border-bottom2: 3px solid #d40809;
}
.menu ul li a.over {
	background: rgb(49, 134, 218); color: rgb(255, 255, 255); padding-bottom2: 0; border-bottom2: 3px solid #d40809;
}
.menu ul {
	padding: 0px;
}
.menu ul li {
	
}
.menu ul li a {
	font-size: 14px; font-weight: bold; font-family1: "simhei";
}
.menu ul li a:hover {
	text-decoration1: underline;
}
.menu ul li a.on {
	
}
.menu ul li a.over {
	
}
.menu ul li ul {
	background: url("../img/bg_menu2.png") center; padding: 4px 0px 8px; border: 0px solid rgb(255, 0, 0); border-image: none; left: 0px; top: -10px; width: 128px; height: auto; overflow: hidden; margin-left: 10px; display: block; visibility: hidden; position: absolute; z-index: 80; min-height: 40px;
}
.menu ul li ul li {
	margin: 0px; padding: 0px; height: 30px; line-height: 30px; clear: both; float: none; display: block;
}
.menu ul li ul .b {
	height: 6px; overflow: hidden; font-size: 0px; display: none;
}
.menu ul li ul .t {
	padding: 0px 10px; height: 15px; display: none; background-color: rgb(14, 77, 148);
}
.menu ul li ul li a {
	margin: 0px; padding: 0px 13px; border: 0px currentColor; border-image: none; height: 30px; text-align: left; line-height: 30px; font-size: 14px; font-weight: normal; display: block; border-left1: 1px solid #eee;
}
.menu ul li ul li a:hover {
	border-width: 0px 0px 0px 3px; border-style: none none none solid; border-color: currentColor currentColor currentColor rgb(205, 46, 43); border-image: none; color: rgb(255, 255, 255); padding-left: 10px; font-weight: normal; background-color: rgb(30, 130, 197); text-decoration1: underline;
}
.menu ul li ul .t a {
	height: 1px;
}
.menu ul li ul .t a:hover {
	text-decoration: none;
}
.px12 {
	font-size: 14px;
}
form {
	margin: 0px;
}
#focusimg {
	margin: 0px auto; width: 1000px;
}
#slides {
	margin: 0px auto; width: 1000px; height: 30px; line-height: 30px; overflow: hidden; position: relative; z-index: 9;
}
#slides .tq {
	padding-left: 10px; float: left;
}
#slides .tj {
	padding-right: 30px; font-size: 14px; float: right;
}
#slides .next {
	left: -39px; top: 107px; width: 24px; height: 43px; display: block; position: absolute; z-index: 101;
}
#slides .prev {
	left: -39px; top: 107px; width: 24px; height: 43px; display: block; position: absolute; z-index: 101;
}
.slides_container {
	width: 1000px; height: 261px; overflow: hidden; position: relative; z-index: 100; display1: none;
}
.slides_container img {
	width: 1000px; height: 261px; display1: none;
}
#slides .next {
	left: 585px;
}
.pagination {
	margin: 0px auto; right: 18px; bottom: 5px; position: absolute; z-index: 102;
}
.pagination li {
	margin: 0px 1px; float: left;
}
.pagination li a {
	background-position: 0px -2px; width: 15px; height: 0px; overflow: hidden; padding-top: 15px; float: left; display: block; background-image: url("/_script/slides/img/pagination.png"); _background-image: url(/_script/slides/img/pagination.gif);
}
.pagination li a:hover {
	background-position: 0px -17px;
}
.pagination li.current a {
	background-position: 0px -32px;
}
.KinSlideshow {
	width: 266px; height: 199px; overflow: hidden;
}
#KinSlideshow {
	
}
.main {
	margin: 0px auto; padding: 20px 0px 3px; width: 1000px; height: 1%; overflow: hidden; clear: both;
}
.body1 .main {
	
}
.main .l {
	width: 280px; overflow: hidden; float:left;
}
.main .m {
	width: 700px; overflow: hidden; float: right;
}
.main .hl {
	width: 640px; overflow: hidden; margin-right: 20px; float: left;
}
.main .hr {
	width: 340px; overflow: hidden; float: right;
}
.main .ml {
	width: 490px; overflow: hidden; margin-right: 20px; float: left;
}
.main .mr {
	width: 490px; overflow: hidden; float: right;
}
.main .l2 {
	width: 280px; overflow: hidden; margin-right: 20px; float: left;
}
.main .m2 {
	width: 340px; overflow: hidden; margin-right: 20px; float: left;
}
.bimg {
	overflow: hidden; clear: both; max-height: 90px;
}
.bimg p {
	margin: 0px; padding: 10px 0px 0px; overflow: hidden;
}
#end {
	background: rgb(12, 111, 179); margin: 16px 0px 0px; padding: 8px 0px; width: 100%; text-align: center; color: rgb(255, 255, 255); clear: both; font-family: Arial, Helvetica, sans-serif; font-size: 12px; min-width: 1000px;
}
#cnzz_stat_icon_1254987485 {
	margin-top: 10px; display: none;
}
#end div {
	margin: auto; width: 1000px; line-height: 30px; position: relative;
}
#end p {
	margin: 0px; padding: 0px; line-height: 30px;
}
.hfooter#end {
	padding: 10px 0px 5px; line-height: normal;
}
.hfooter#end div {
	line-height: 26px;
}
#end div .admin {
	top: 0px; right: 0px; color: rgb(12, 111, 179); position: absolute;
}
#end div .admin:hover {
	color: rgb(255, 255, 255);
}
#end a {
	color: rgb(255, 255, 255);
}
.body {
	margin: 0px;
}
.body #end {
	margin: 0px;
}
.main_sp {
	background: url("../_images/m_line.jpg"); margin: 0px auto; width: 950px; height: 10px; overflow: hidden; font-size: 1px;
}
.link2 {
	width: 270px;
}
#topMenu {
	color: rgb(255, 255, 255); text-indent: 4px; font-size: 16px; font-weight: bold;
}
#topMenu a {
	color: rgb(255, 255, 255); text-decoration: none;
}
#topMenu a:hover {
	color: rgb(255, 204, 51);
}
.linkzs {
	padding-bottom: 10px;
}
.linkzs .btn {
	background: url("../img/bg_btn2.png") no-repeat top; width: 180px; height: 32px; text-align: center; color: rgb(16, 82, 132); line-height: 30px; font-weight: bold; display: inline-block;
}
.linkzs a:hover {
	cursor: pointer;
}
.linkzs a:hover .btn {
	color: rgb(63, 153, 216); text-decoration: none;
}
.rlist {
	padding: 0px 10px;
}
.dotlist {
	background: url("../img/yd.gif") no-repeat 0px 6px; line-height: 23px; padding-left: 16px; font-size: 13px; border-bottom-color: rgb(170, 170, 170); border-bottom-width: 1px; border-bottom-style: dotted;
}
.daslist {
	border-bottom-color: rgb(170, 170, 170); border-bottom-width: 1px; border-bottom-style: dotted;
}
.tom {
	background: rgb(255, 255, 255); border-width: 1px 1px 0px; border-style: solid solid none; border-color: rgb(217, 217, 217) rgb(217, 217, 217) currentColor; padding: 0px 6px; border-image: none; height: 37px; text-align: left; color: rgb(29, 29, 29); line-height: 35px; font-size: 14px; font-weight: bold; margin-top: 0px;
}
.tom .totitle {
	height: 35px; text-align: left; color: rgb(63, 147, 233); line-height: 35px; font-size: 14px; border-bottom-color: rgb(63, 147, 233); border-bottom-width: 2px; border-bottom-style: solid;
}
.tom .totitle a {
	color: rgb(63, 148, 231);
}
.tom .totitle span {
	display: none;
}
.tom .toinfo {
	text-align: center; color: rgb(34, 34, 34); padding-right: 10px; font-family: Verdana, Geneva, sans-serif;
	 font-size: 12px; font-weight: normal; float: right; display: inline;
}
.tom .toinfo a {
	color:black;
}
.tom .toinfo a:hover {
	color: rgb(63, 148, 231); text-decoration: underline;
}
.icontent {
	padding: 0px 15px; width: 695px; line-height: 120%; -ms-overflow-y: auto; min-height: 100px;
}
.icontent div {
	line-height: 150%;
}
.icontent p {
	line-height: 150%;
}
.main .content {
	border-width: 0px 1px 1px; border-style: solid; border-color: rgb(217, 217, 217); padding: 15px 10px 20px; border-image: none; line-height: 160%; min-height: 300px; background-color: rgb(255, 255, 255);
}
.main .content p {
	line-height: 160%; margin-bottom: 10px;
}
.main .content div {
	line-height: 160%; margin-bottom: 10px;
}
.main .content img {
	max-width: 100%;
}
.main .content table {
	border-collapse: collapse; max-width: 100%; border-spacing: 0;
}
.main .content a {
	color: rgb(63, 148, 231); text-decoration: none;
}
.main .content a:hover {
	color: rgb(46, 138, 203); text-decoration: underline;
}
.main h1.ititle {
	margin: 0px; padding: 6px 0px 5px; text-align: center; font-size: 18px; display: block;
}
.main h5.ioth {
	margin: 0px 5px 5px; padding: 6px; height: 20px; text-align: center; color: rgb(153, 153, 153); line-height: 20px; font-size: 12px; font-weight: normal; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: solid; display: block;
}
.main h5.ioth span {
	margin-left: 15px;
}
.main .content .Resume p {
	margin: 0px; padding: 0px;
}
.main .link {
	
}
.main .link div {
	height: 25px; color: rgb(204, 204, 204); font-size: 12px;
}
.main .link div span {
	color: rgb(153, 153, 153);
}
.main .none {
	border-width: 0px 1px 1px; border-style: solid; border-color: rgb(217, 217, 217); border-image: none; text-align: center; color: rgb(187, 187, 187); line-height: 150px; background-color: rgb(255, 255, 255);
}
.main .list {
	border-width: 0px 1px; border-style: solid; border-color: rgb(217, 217, 217); padding: 6px; border-image: none; min-height: 300px; background-color: rgb(255, 255, 255);
}
.main .list li {
	height: 30px; line-height: 30px; clear: both; font-size: 14px; border-bottom-color: rgb(238, 238, 238); border-bottom-width: 1px; border-bottom-style: dotted;
}
.main .list li:hover {
	background-color: rgb(254, 254, 254);
}
.main .list li .stitle {
	background: url("../img/list_info_2.jpg") no-repeat 4px; width: 580px; overflow: hidden; padding-left: 18px; float: left; white-space: nowrap; -ms-text-overflow: ellipsis;
}
.main .list li .sdate {
	width: 74px; text-align: right; color: rgb(153, 153, 153); padding-right: 2px; font-family: Arial, Helvetica, sans-serif; font-size: 14px; float: right; display: block;
}
.main .list li .down {
	width: 60px; text-align: center; color: rgb(153, 153, 153); padding-right: 2px; font-family: Arial, Helvetica, sans-serif; font-size: 13px; float: right; display: block;
}
.main .downlist.list li .stitle {
	width: 540px;
}
.main .downlist.list li .sdate {
	float: left;
}
.main .minfo {
	border-width: 0px 1px 1px; border-style: none solid solid; border-color: currentColor rgb(217, 217, 217) rgb(217, 217, 217); p
	adding: 10px; border-image: none; background-color: rgb(255, 255, 255);
}
.main .minfo .content {
	padding: 0px 2px; border: 0px currentColor; border-image: none;
}
.page {
	margin: 0px; text-align: center; letter-spacing: 1px; clear: both; font-size: 14px;
}
.propage {
	margin: 0px;
}
.page .info {
	display: inline;
}
.page .info span {
	color: rgb(46, 138, 203); font-weight: bold;
}
.page .pages {
	color: rgb(153, 153, 153); background-color: rgb(255, 255, 255);
}
.pages {
	border-width: 0px 1px 1px; border-style: solid; border-color: rgb(217, 217, 217); padding: 20px 0px; border-image: none; text-align: center; font-size: 14px;
}
.pages ul.page {
	margin: 0px; padding: 0px;
}
.pages ul.page li {
	margin: 0px 3px; display: inline-block;
}
.pages a {
	margin: 0px 2px; padding: 0px 8px; border: 1px solid rgb(10, 122, 194); border-image: none; height: 22px; text-align: center; color: rgb(255, 255, 255); line-height: 22px; display: inline-block; background-color: rgb(18, 138, 216);
}
.pages a.on {
	padding: 0px 8px; border: 1px solid rgb(63, 148, 231); border-image: none; height: 22px; line-height: 22px; background-color: rgb(63, 148, 231); font-weight2: bold;
}
.pages span {
	padding: 0px 8px; border: 1px solid rgb(170, 170, 170); border-image: none; height: 22px; color: rgb(255, 255, 255); line-height: 22px; display: inline-block; background-color: rgb(187, 187, 187);
}
.pages a {
	background: rgb(255, 255, 255); margin: 0px 2px; padding: 0px 8px; border: 1px solid rgb(63, 148, 231); border-image: none; height: 22px; text-align: center; color: rgb(63, 148, 231); line-height: 22px;
}
.pages .active a {
	padding: 0px 8px; border: 1px solid rgb(63, 148, 231); border-image: none; height: 22px; color: rgb(255, 255, 255); line-height: 22px; background-color: rgb(63, 148, 231); font-weight2: bold;
}
.pages a:hover {
	color: rgb(255, 255, 255); text-decoration: none; background-color: rgb(63, 148, 231);
}
.pages .pli a {
	font-family: Arial; font-size: 14px;
}
.pages .disabled a {
	background: none; border: 1px solid rgb(204, 204, 204); border-image: none; color: rgb(102, 102, 102); text-decoration: none;
}
.main .plist {
	border-width: 0px 1px; border-style: solid; border-color: rgb(217, 217, 217); padding: 10px 0px 0px 15px; border-image: none; width: 683px; overflow: hidden; min-height: 300px; background-color: rgb(255, 255, 255);
}
.main .plist li {
	height: 180px; font-size: 14px; margin-right: 12px; float: left;
}
.main .plist li .simg {
	padding: 1px; border: 0px solid rgb(234, 234, 234); border-image: none; width: 147px; height: 100px; text-align: center; line-height: 100px; vertical-align: middle; display: table-cell;
}
.main .plist li .simg img {
	width: 147px; text-align: center; vertical-align: middle; max-height: 100px;
}
.main .plist li .stitle {
	padding: 0px 5px; width: 147px; text-align: center; line-height: 28px; overflow: hidden; display: block; white-space: nowrap; cursor: pointer; -ms-text-overflow: ellipsis;
}
.main .pimg {
	width: 300px; height: 300px; text-align: center; line-height: 300px; float: left;
}
.main .pimg img {
	width: 300px; height: 300px; vertical-align: middle;
}
.main .pinfo {
	float: left;
}
.main .pinfo h1 {
	text-align: left;
}
.leftMenu {
	padding: 0px; height: auto;
}
.leftMenu dt {
	background: rgb(4, 106, 189); padding: 0px 0px 0px 10px; height: 33px; text-align: left; color: rgb(255, 255, 255); line-height: 33px; font-size: 14px; font-weight: bold; border-bottom-color: rgb(4, 105, 187); border-left-color: rgb(205, 46, 43); border-bottom-width: 1px; border-left-width: 3px; border-bottom-style: solid; border-left-style: solid;
}
.leftMenu dt span {
	height: 38px; color: rgb(255, 255, 255); line-height: 33px; float: left;
}
.leftMenu dt a {
	color: rgb(255, 255, 255);
}
.leftMenu dt.t {
	padding: 0px; height: 5px; overflow: hidden; font-size: 0px; display: none; background-image: url("bg_left1.jpg"); background-repeat: no-repeat;
}
.leftMenu dd {
	background: url("bg_left1.jpg") no-repeat bottom; padding: 5px 0px 10px; border: 0px solid rgb(198, 0, 1); border-image: none; line-height: normal; clear: both;
}
.leftMenu dd > ul {
	padding-left: 15px;
}
.leftMenu dd li.off {
	background: url("../img/off.png") no-repeat 243px 10px;
}
.leftMenu dd li.on {
	background: url("../img/on.png") no-repeat 243px 10px;
}
.leftMenu dd li a {
	background: url("../img/ico_1.gif") no-repeat 5px; margin: 0px; padding: 5px 0px 5px 5px; height: auto; text-align: left; color: rgb(0, 0, 0); line-height: 18px; text-indent: 14px; clear: both; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 0px; border-bottom-style: dashed; display: block;
}
.leftMenu dd li a:hover {
	background: url("../img/dot-1.gif") no-repeat 7px; color: rgb(9, 123, 194); text-decoration: none;
}
.leftMenu dd li a.on {
	background: url("../img/arrow_red.png") no-repeat 7px; color: rgb(230, 20, 21);
}
.leftMenu dd li a.on {
	color: rgb(230, 20, 21); font-weight: bold; text-decoration: none;
}
.leftMenu dd li a {
	display: block;
}
.leftMenu dd li ul {
	padding-left: 20px;
}
.leftMenu dd li li.off {
	background: url("../img/off.png") no-repeat 223px 10px;
}
.leftMenu dd li li.on {
	background: url("../img/on.png") no-repeat 223px 10px;
}
.leftMenu dd .list2 {
	background: url("../img/ico_1.jpg") no-repeat 82px 7px; margin: 0px; padding: 5px 0px 5px 80px; height: auto; text-align: left; line-height: 16px; text-indent: 15px; clear: both; font-size: 12px; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: dashed; display: block;
}
.leftMenu dd .list2:hover {
	background: url("../img/dot-1.gif") no-repeat 84px 10px; color: rgb(23, 106, 208);
}
.leftMenu dd .on.list2 {
	background: url("../img/dot-1.gif") no-repeat 84px 10px; color: rgb(23, 106, 208);
}
.leftMenu dd .list3 {
	background: url("../img/dot-1.gif") no-repeat 34px 12px; margin: 0px; padding: 7px 0px 7px 30px; width: 80px; text-align: left; color: rgb(23, 106, 208); line-height: 16px; text-indent: 15px; font-size: 14px; font-weight: bolder; float: left; display: block;
}
.leftMenu dd .list3:hover {
	color: rgb(23, 106, 208);
}
.leftMenu dd .on.list3 {
	color: rgb(23, 106, 208);
}
.leftMenu dd select {
	width: 160px; vertical-align: middle;
}
.leftMenu dd .row {
	padding: 0px 4px 0px 10px; height: 32px; text-align: center; color: rgb(52, 52, 52); font-size: 12px;
}
.leftMenu dd .row input[type=text] {
	border: 1px solid rgb(176, 176, 176); border-image: none; width: 128px; height: 18px; float: left;
}
.leftMenu dd .row label {
	padding: 5px 0px 0px; float: left; display: block;
}
.leftMenu dd .more {
	text-align: right; padding-top: 5px; font-size: 13px;
}
.infolist1 {
	background: rgb(255, 255, 255); padding: 0px 8px; border: 1px solid rgb(217, 217, 217); border-image: none; height: 261px; overflow: hidden; position: relative;
}
.infolist2{
	background: rgb(255, 255, 255); padding: 0px 8px; border: 1px solid rgb(217, 217, 217); border-image: none; height: 261px; overflow: hidden; position: relative;width: auto;
}
.infolist1 dt {
	height: 39px; color: rgb(62, 149, 229); font-size: 14px; border-bottom-color: rgb(63, 148, 231); border-bottom-width: 2px; border-bottom-style: solid;
}
.infolist1 dt .tname {
	padding: 0px 0px 0px 2px; color: rgb(62, 149, 229); line-height: 39px; font-weight: bold; float: left;
}
.infolist1 dt .tname a {
	color: rgb(62, 149, 229);
}
.infolist1 dt .tag {
	background: rgb(246, 246, 246); width: 80px; height: 28px; text-align: center; line-height: 28px; float: left; cursor: pointer;
}
.infolist1 dt .on {
	background: rgb(28, 129, 197); color: rgb(255, 255, 255);
}
.infolist1 dt .on a {
	color: rgb(255, 255, 255);
}
.infolist1 dt .tmore {
	padding: 0px 2px 0px 0px; color: rgb(0, 0, 0); line-height: 42px; font-size: 12px; float: right;
}
.infolist1 dt .tmore a {
	color: rgb(0, 0, 0);
}
.infolist1 dd {
	padding: 10px 0px; clear: both; min-height: 80px;
}
.infolist1 dd .info {
	height: 25px; line-height: 25px; clear: both; font-size: 14px; position: relative;
}
.infolist1 dd .stitle {
	background: url("../img/ico_arrow.png") no-repeat 3px; overflow: hidden; padding-left: 14px; font-size: 14px; margin-right: 74px; display: block; white-space: nowrap; -ms-text-overflow: ellipsis;
}
.infolist1 dd .stype {
	width: 90px; padding-top: 4px; padding-left: 6px; float: right;
}
.infolist1 dd .sdate {
	top: 0px; width: 74px; text-align: right; right: 0px; color: rgb(155, 155, 155); padding-right: 2px; font-family: Arial, Helvetica, sans-serif; font-size: 13px; position: absolute;
}
.infolist1 .none {
	text-align: center; color: rgb(204, 204, 204); line-height: 140px;
}
.infolist1 dd p {
	margin: 0px; padding: 2px 0px;
}
.infolist1 .cont {
	padding: 5px; line-height: 130%; overflow: hidden;
}
.infolist1 .cont td {
	line-height: 130%;
}
.infolist1 .cont p {
	line-height: 180%;
}
.infolist1 .none {
	border: 0px currentColor; border-image: none;
}
#ilist2 dd {
	width: 345px; clear: none; float: right;
}
#ilist2 dd.KinSlideshow {
	width: 265px; float: left;
}
#ilist2 dd .stitle {
	margin-right: 0px;
}
#ilist2 .sdate {
	display: inline;
}
#ilist4 dd .stitle {
	margin-right: 0px;
}
#ilist4 .sdate {
	display: inline;
}
#ilist4 dd {
	height: 200px; overflow: hidden; min-height: 200px;
}
#ilist18 {
	padding: 4px; height: auto; overflow: hidden; max-height: 94px;
}
#ilist18 dt {
	padding: 0px; border: 0px currentColor; border-image: none; width: 80px; height: 44px; text-align: center; line-height: 44px; float: left;
}
#ilist18 dt .tname {
	line-height: 44px; clear: both; float: none;
}
#ilist18 .tmore {
	display: none;
}
#ilist18 dd {
	padding: 0px; width: 908px; clear: none; float: left; min-height: 30px;
}
#ilist18 a {
	margin: 4px 0px 4px 6px;
}
.msearch .infolist1 {
	height: auto; padding-bottom: 8px;
}
.msearch .infolist1 dd {
	min-height: 0px;
}
.infolist1 dd #gdimg {
	
}
.infolist1 dd #gdimg div {
	
}
.infolist1 dd #gdimg img {
	height: 39px; vertical-align: top;
}
.infolist1 dd #gdimg span {
	display: none;
}
.infolist1 dd #gdimg a {
	margin-left: 8px; float: left;
}
.lmenu .infolist1 {
	height: auto; padding-bottom: 6px;
}
.lmenu .infolist1 dd .info {
	padding: 2px 0px; height: auto; line-height: 18px; clear: both; font-size: 12px; position: relative;
}
.lmenu .infolist1 dd .stitle {
	background: url("../img/ico_arrow.png") no-repeat 2px 6px; padding-left: 13px; font-size: 12px; margin-right: 0px; display: block; white-space: normal;
}
.lmenu .infolist1 .sdate {
	display: none;
}
.zt {
	
}
.zt a {
	padding: 20px 0px 0px; height: 60px; text-align: center; display: block;
}
.zt a:hover {
	text-decoration: none;
}
.zt img {
	width: 280px; height: 60px;
}
.infolist2 {
	overflow: hidden;
}
.msearch .infolist2 {
	background: rgb(255, 255, 255); padding: 0px 6px; border: 1px solid rgb(217, 217, 217); border-image: none;
}
.infolist2 dt {
	padding: 0px; height: 31px; color: rgb(0, 111, 213); line-height: 31px; font-size: 14px; font-weight: bold; border-bottom-color: rgb(4, 105, 187); border-bottom-width: 1px; border-bottom-style: solid;
}
.lmenu .infolist2 dt {
	height: 33px; line-height: 33px;
}
.infolist2 dt a {
	color: rgb(0, 111, 213);
}
.infolist2 dt .tname {
	line-height: 31px; float: left;
}
.infolist2 dt .tmore {
	padding: 2px 5px 0px 0px; font-size: 12px; font-weight: normal; float: right;
}
.infolist2 dt .tmore a {
	color: rgb(102, 102, 102);
}
.infolist2 dd {
	padding: 5px 0px 0px; clear: both;
}
.infolist2 dd.cont img {
	width: 100%;
}
.infolist2 dd .info {
	height: 24px; line-height: 24px; clear: both; font-size: 14px;
}
.infolist2 dd .stitle {
	
}
.infolist2 dd .stitle a {
	overflow: hidden; display: block; white-space: nowrap; position: relative; -ms-text-overflow: ellipsis;
}
.infolist2 dd .stype {
	width: 90px; padding-top: 4px; padding-left: 6px; float: right;
}
.infolist2 dd .sdate {
	width: 74px; text-align: right; color: rgb(102, 102, 102); padding-top: 4px; padding-right: 2px; font-family: Arial, Helvetica, sans-serif; float: right; display: none;
}
.infolist2 dd #i6 {
	
}
.infolist2 .none {
	width: 100%; text-align: center; color: rgb(204, 204, 204); line-height: 140px;
}
.infolist2 dd p {
	margin: 0px; padding: 0px;
}
.infolist2 dd .btn {
	background: url("../img/bg_btn.jpg") repeat-x top; margin: 6px auto 2px; border: 1px solid rgb(232, 232, 232); border-image: none; width: 227px; height: 34px; text-align: center; color: rgb(4, 47, 81); line-height: 34px; display: block; cursor: pointer;
}
.infolist2 dd .img {
	margin: 6px auto 2px; border: 1px solid rgb(232, 232, 232); border-image: none; width: 227px; height: 34px; text-align: center; display: block;
}
.infolist2 dd .btn:hover {
	background-position: 0px -33px; color: rgb(21, 106, 173); text-decoration: none;
}
.leftMenu dd .on.btn {
	background-position: 0px -33px; color: rgb(21, 106, 173); text-decoration: none;
}
.infolist2 dd select {
	margin: 3px 0px; width: 261px; height: 30px;
}
.infolist2 dd option:first-child {
	color: rgb(153, 153, 153);
}
.infolist1 .search {
	padding: 5px 0px 10px; height: 28px; position: relative;
}
.infolist1 .search input.keyword {
	border: 1px solid rgb(204, 204, 204); border-image: none; left: 0px; top: 5px; width: 190px; height: 26px; line-height: 28px; position: absolute;bottom:1%;
}
.infolist1 .search input[type='submit'] {
	background: rgb(63, 148, 231); border: 0px currentColor; border-image: none; top: 5px; width: 60px; height: 26px; right: 0px; color: rgb(255, 255, 255); position: absolute; cursor: pointer; -webkit-appearance: none;
}
.infolist2 .qlink {
	background: rgb(255, 255, 255); padding: 6px; border: 1px solid rgb(186, 187, 191); border-image: none; height: 27px;
}
.infolist2 .qlink img {
	
}
.infolist2 .qlink span {
	display: none;
}
#ilistSearch {
	height: 90px;
}
.infolist3 {
	background: url("../img/list3.jpg") no-repeat 0px top; padding: 0px; overflow: hidden; position: relative;
}
.infolist3 dt {
	padding: 0px 1px; height: 52px; line-height: 26px;
}
.infolist3 dt span {
	color: rgb(35, 124, 192); font-size: 14px; font-weight: bolder; float: left; display: none;
}
.infolist3 .title .tname a {
	color: rgb(35, 124, 192);
}
.infolist3 dt .tmore {
	padding-top: 2px; font-size: 12px; font-weight: normal; float: right; display: none;
}
.infolist3 .title .tmore a {
	color: rgb(102, 102, 102);
}
.infolist3 dd {
	background: url("../img/list3b.jpg") no-repeat 1px bottom; padding: 5px 13px 30px; clear: both;
}
.infolist3 dd .info {
	background: url("../img/tb009.jpg") no-repeat 130px; width: 160px; height: 30px; line-height: 24px; overflow: hidden; padding-top: 4px; clear: both; border-bottom-color: rgb(153, 153, 153); border-bottom-width: 1px; border-bottom-style: solid; position: relative;
}
.infolist3 dd .info img {
	width: 27px; height: 23px; margin-left: 20px; vertical-align: middle;
}
.infolist3 dd .info span {
	margin-top: 1px; margin-left: 15px;
}
.infolist3 dd .info .stitle {
	background: url("../img/dot-2.gif") no-repeat 1px 8px; width: 170px; overflow: hidden; padding-top: 0px; padding-left: 10px; float: left; display: block;
}
.infolist3 dd .info .sdate {
	width: 32px; height: 20px; color: rgb(136, 136, 136); overflow: hidden; padding-top: 0px; font-family: Arial, Helvetica, sans-serif; font-size: 12px; float: right;
}
.infolist3 dd .none {
	text-align: center; color: rgb(204, 204, 204); line-height: 120px;
}
.infolist3 dd #i4 {
	border-bottom-color: rgb(153, 153, 153); border-bottom-width: 2px; border-bottom-style: solid;
}
.infolist4 {
	padding: 0px; overflow: hidden;
}
.infolist4 .title {
	background: url("../img/list4.jpg") no-repeat 0px 0px; height: 40px; line-height: 40px; padding-left: 18px;
}
.infolist4 .title .tname {
	color: rgb(255, 255, 255); line-height: 30px; padding-top: 6px; font-size: 14px; font-weight: bolder; float: left;
}
.infolist4 .title .tname a {
	color: rgb(255, 255, 255);
}
.infolist4 .title .tmore {
	line-height: 28px; padding-top: 8px; padding-right: 10px; font-size: 12px; font-weight: normal; float: right;
}
.infolist4 .title .tmore a {
	color: rgb(255, 255, 255);
}
.infolist4 dd {
	line-height: 10px; clear: both; border-top-color: currentColor; border-top-width: 0px; border-top-style: none;
}
.infolist4 dd .info {
	background: none; padding: 2px 4px 0px; height: 22px; line-height: 22px; clear: both; border-bottom-color: rgb(206, 206, 206); border-bottom-width: 0px; border-bottom-style: dashed;
}
.infolist4 dd .info .stitle {
	background: url("dot.jpg") no-repeat 0px 9px; padding-top: 0px; padding-left: 0px; font-size: 14px; float: left; display: block;
}
.infolist4 dd .info .sdate {
	width: 60px; color: rgb(92, 92, 92); padding-top: 0px; font-size: 12px; float: right; display: none;
}
.infolist4 dd .none {
	text-align: center; color: rgb(204, 204, 204); line-height: 120px;
}
.infolist4 img {
	display: block;
}
.infolist5 {
	background: rgb(248, 249, 253); padding: 0px; height: 200px; overflow: hidden;
}
.infolist5 .title {
	background: url("../img/list5.jpg") no-repeat 0px 0px; height: 35px; line-height: 30px; padding-left: 15px;
}
.infolist5 .title .tname {
	width: 90px; text-align: center; color: rgb(255, 255, 255); line-height: 30px; padding-top: 1px; font-size: 14px; font-weight: bolder; float: left;
}
.infolist5 .title .tname a {
	color: rgb(255, 255, 255);
}
.infolist5 .title .tmore {
	line-height: 28px; padding-top: 5px; padding-right: 10px; font-size: 12px; font-weight: normal; float: right;
}
.infolist5 .title .tmore a {
	color: rgb(137, 138, 140);
}
.infolist5 dd {
	border-width: 0px 1px 1px; border-style: none solid solid; border-color: currentColor rgb(220, 225, 231) rgb(220, 225, 231); padding: 4px 12px 10px 10px; border-image: none; height: 150px; clear: both;
}
.infolist5 dd .info {
	padding: 4px 4px 0px; height: 24px; line-height: 24px; clear: both; border-bottom-color: rgb(206, 206, 206); border-bottom-width: 1px; border-bottom-style: dotted;
}
.infolist5 dd .info .stitle {
	background: url("..imgico_1.jpg") no-repeat 0px 0px; padding-top: 0px; padding-left: 0px; font-size: 14px; float: left; display: block;
}
.infolist5 dd .info .sdate {
	width: 74px; color: rgb(136, 136, 136); padding-top: 0px; font-family: Arial, Helvetica, sans-serif; font-size: 14px; float: right;
}
.infolist5 dd .none {
	text-align: center; color: rgb(204, 204, 204); line-height: 120px;
}
.lefttablebody {
	background-position: left top; background-image: url("../_images/left_top.jpg"); background-repeat: no-repeat;
}
.righttablebody {
	background-position: right top; background-image: url("../_images/left_top2.jpg"); background-repeat: no-repeat;
}
.listword-px14-22 {
	line-height: 22px; font-size: 14px;
}
.listword-px14-22 a {
	color: rgb(16, 82, 132); text-decoration: underline;
}
.banner {
	padding-bottom: 20px;
}
#full-screen-slider {
	width: 100%; height: 210px; position: relative;
}
#slides {
	list-style: none; margin: 0px; padding: 0px; width: 100%; height: 210px; display: block; position: relative;
}
#slides li {
	list-style: none; margin: 0px; padding: 0px; width: 100%; height: 100%; display: block; position: absolute;
}
#slides li a {
	width: 100%; height: 100%; text-indent: -9999px; display: block;
}
#pagination {
	list-style: none; margin: 0px; padding: 5px 0px; left: 10%; top: 180px; position: absolute; z-index: 9900;
}
#pagination li {
	background: rgb(255, 255, 255); list-style: none; border-radius: 10px; width: 10px; height: 10px; margin-left: 15px; float: left; display: block;
}
#pagination li a {
	margin: 0px; padding: 0px; width: 100%; height: 100%; text-indent: -9999px; display: block;
}
#pagination li.current {
	background: rgb(0, 146, 206);
}
img {
	border-width: 0px;
}
.pb {
	height: 260px; overflow: hidden; padding-top: 6px; position: absolute;
}
.pb .steps {
	background: url("../_images/pic.gif") no-repeat left top;
}
.pb .points li {
	background: url("../_images/pic.gif") no-repeat left top;
}
.pb .banners {
	margin: 0px; padding: 0px; float: left;
}
.pb .banners li {
	width: 280px; height: 260px; text-align: center; overflow: hidden; display: none;
}
.pb .banners li.current {
	display: block;
}
.pb .switcher {
	background: left -76px rgb(255, 255, 255); width: 24px; height: 258px; float: left; position: relative;
}
.pb .switcher2 {
	background: rgb(255, 255, 255); width: 0px; height: 258px; float: left; position: relative;
}
.pb .points {
	margin: 0px auto; padding: 0px; width: 19px; font-size: 14px;
}
.pb .points li {
	background-position: 0px 0px; margin: 0px 0px 2px 3px; width: 16px; height: 15px; text-align: center; color: rgb(255, 255, 255); line-height: 15px; overflow: hidden; font-family: Arial; cursor: pointer;
}
.pb .points li.current {
	background-position: -19px 0px; width: 19px; text-align: center; text-indent: 3px; margin-left: 0px;
}
.pb .steps {
	background-position: 0px -17px; margin: 0px 0px 0px 6px; width: 16px; height: 23px; bottom: 3px; position: absolute; _overflow: hidden;
}
* + html .pb .steps {
	background-position: 0px -17px; margin: 0px 0px 0px 5px; width: 16px; height: 23px; bottom: 3px; position: absolute; _overflow: hidden;
}
.pb .steps .up {
	width: 15px; height: 11px; cursor: pointer;
}
.pb .steps .down {
	width: 15px; height: 11px; cursor: pointer;
}
.tselect {
	padding: 2px 2px 10px 10px; border: 1px solid rgb(197, 197, 197); border-image: none; width: 180px; background-color: rgb(255, 255, 255);
}
.tselect div {
	font-size: 12px;
}
.tselect .line0 {
	background: url("../_images/icon/op_line_0.gif") no-repeat; padding-top: 2px; padding-left: 11px;
}
.tselect .line1 {
	background: url("../_images/icon/op_line_1.gif") no-repeat; padding-top: 2px; padding-left: 11px;
}
.tselect .line2 {
	background: url("../_images/icon/op_line_2.gif") no-repeat; padding-top: 2px; padding-left: 11px;
}
.tselect .check0 {
	background: url("../_images/icon/op_check_0.gif") no-repeat; cursor: pointer;
}
.tselect .check1 {
	background: url("../_images/icon/op_check_1.gif") no-repeat; cursor: pointer;
}
.tselect .check2 {
	background: url("../_images/icon/op_check_2.gif") no-repeat; cursor: pointer;
}
.sdate {
	font-size: 12px;
}
.red1 {
	color: rgb(255, 0, 0);
}
.dot {
	font-family: Arial, sans-serif; font-size: 8px;
}
#xna {
	color: rgb(102, 102, 102); text-decoration: none; cursor: not-allowed;
}
#xna:hover {
	color: rgb(102, 102, 102); text-decoration: none; cursor: not-allowed;
}
#slides li {
	list-style: none;
}
.cont td {
	padding: 4px;
}
.cont td td {
	padding: 0px;
}
.cont table[border='1'] {
	border-width: 0px 1px; border-right-color: rgb(102, 102, 102); border-left-color: rgb(102, 102, 102); border-right-style: solid; border-left-style: solid; border-collapse: collapse;
}
.cont table[border='1'] td {
	border: 1px solid rgb(102, 102, 102); border-image: none;
}
.MsoNormal {
	padding: 0px;
}
.rmain td p {
	margin: 0px; padding: 0px; text-indent: 0px;
}
.rmain td span {
	margin: 0px; padding: 0px; text-indent: 0px;
}
.panel1{
	background: #000000;
}
.table1{
	height:35px ;
	width:50%;
    border-bottom: #cccccc 1px solid;
	border-left: #cccccc 1px solid;
	border-top: #cccccc 1px solid;
	border-right: #cccccc 1px solid;
}
.table2{
	height:35px ;
	border-bottom: #cccccc 1px;
	border-left: #cccccc 1px;
	border-top: #cccccc 1px solid;
	border-right: #cccccc 1px dashed;
	background:#f1f1f1;
}